<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:about_data.title, description:about_data.description}) %>
</head>
<body>
<script>
    function showHideMenu()
    {
        var menu = document.getElementsByClassName("menu")[0];
        if (menu.style.visibility === "visible")
        {
        menu.style.visibility = "hidden"
        }
        else
        {
        menu.style.visibility = "visible"
        }
    }
</script>

<div class="menu-icon"><a href="javascript:showHideMenu()">&#x2630;</a></div>
<div class="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li>About</li>
    <li><a href="solutions">Solutions</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
</div>

<div class="content" style="display: flex; flex-direction: column;">
<h1>Blue Shark Friends</h1>

<h2 style="margin-top: 0;">About</h2>
<div>
  <% about_data.about_bsf.split("\n").forEach(element => { %>
    <%= element %>
    <br />
  <% }); %>
</div>

<% about_data.people.forEach(member => { %>
  <div>
    <h3><%= member.name %></h3>
    <img class="about-img" src="<%= member.img_src %>" width="200px" height="<% if(member.name === "Hannah Parker"){ %>267px<% } else{ %>201px<% } %>" alt="<%= member.img_alt %>"/>
    <div style="text-align: left;">
      <% if(member.name === "Hannah Parker"){ %>
        <%= member.bio %>
        <br /><br />
        <a href="<%= member.link_ref %>"><%= member.link_text %></a>
      <% } else { %>
        <% member.bio.split("\n").forEach(element => { %>
          <%= element %>
          <br />
        <% }); %>
      <% } %>
    </div>
  </div>
<% }); %>
<br /><br />
</div>

<footer>
  <small>Copyright &copy; 2024, Blue Shark Friends. All rights reserved.</small>
</footer>

</body>
</html>
