<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:about_data.title, description:about_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:about_data.title}) %>

<div class="content" style="display: flex; flex-direction: column;">
  <%- include('../partials/header', {title:about_data.title, subheading: 'About'}) %>
<div>
  <% about_data.about_bsf.split("\n").forEach(element => { %>
    <%= element %>
    <br />
  <% }); %>
</div>

<% about_data.people.forEach(member => { %>
  <div>
    <h3><%= member.name %></h3>
    <img class="about-img" src="<%= member.img_src %>" width="200px" height="<% if(member.name === "Hannah Parker"){ %>267px<% } else{ %>201px<% } %>" alt="<%= member.img_alt %>"/>
    <div style="text-align: left;">
      <% if(member.name === "Hannah Parker"){ %>
        <%= member.bio %>
        <br /><br />
        <a href="<%= member.link_ref %>"><%= member.link_text %></a>
      <% } else { %>
        <% member.bio.split("\n").forEach(element => { %>
          <%= element %>
          <br />
        <% }); %>
      <% } %>
    </div>
  </div>
<% }); %>
<br /><br />
</div>

<%- include('../partials/footer') %>

</body>
</html>
