<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:contact_data.title, description:contact_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:contact_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:contact_data.title, subheading: 'Contact'}) %>

<p>
  Email us at <a href="mailto:info@bluesharkfriends.com">info@bluesharkfriends.com</a>
  <br /> or get in touch at one of our socials below!
</p>

<h2>Social Links</h2>
<div class="socialbox">
	<a href="<%= branding_data.facebook %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/Facebook_Logo_Primary.png" width="50px" />
	</a>
	<a href="<%= branding_data.linkedin %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/InBug-White.png" width="50px" />
	</a>
	<a href="<%= branding_data.github %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/github-mark-white.png" width="50px" />
	</a>
	<a href="<%= branding_data.instagram %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/Instagram_Glyph_Gradient.png" width="50px" />
	</a>
</div>
<!--<ul>
  <li><a href="<%= branding_data.facebook %>">Facebook</a></li>
  <li><a href="<%= branding_data.linkedin %>">LinkedIn</a></li>
  <li><a href="<%= branding_data.github %>">GitHub</a></li>
  <li><a href="<%= branding_data.instagram %>">Instagram</a></li>
</ul>-->

</div>

<%- include('../partials/footer') %>

</body>
</html>
