<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:contact_data.title, description:contact_data.description}) %>
</head>
<body>
  <%- include('../partials/topbar', {title:contact_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:contact_data.title, subheading: 'Contact'}) %>

<br />
<h2>Get to Know Us</h2>
<div class="socialbox">
	<a href="<%= branding_data.mail %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/mail.png" width="50px" />
	</a>
	<a href="<%= branding_data.cal %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/Cal logo.avif" width="50px" />
	</a>
</div>

<br />

<h2>Follow us on Socials</h2>
<div class="socialbox">
	<a href="<%= branding_data.facebook %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/Facebook_Logo_Primary.png" width="50px" />
	</a>
	<a href="<%= branding_data.linkedin %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/InBug-White.png" width="50px" />
	</a>
	<a href="<%= branding_data.github %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/github-mark-white.png" width="50px" />
	</a>
	<a href="<%= branding_data.instagram %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/Instagram_Glyph_Gradient.png" width="50px" />
	</a>
	<a href="<%= branding_data.substack %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/substack.png" width="50px" />
	</a>
	<a href="<%= branding_data.tiktok %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/TikTok_Icon_Black_Circle.png" width="50px" />
	</a>
	<a href="<%= branding_data.youtube %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/yt_logo_rgb_light.png" width="50px" />
	</a>
	<a href="<%= branding_data.bluesky %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/bluesky_media_kit_logo_transparent_1.png" width="50px" />
	</a>
	<a href="<%= branding_data.kickstarter %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/kickstarter_logo.avif" width="50px" />
	</a>
</div>

<br />

<h2>Join a Collaboration Space</h2>
<div class="socialbox">
	<a href="<%= branding_data.facebook_group %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/Facebook_Logo_Primary.png" width="50px" />
	</a>
	<a href="<%= branding_data.discord_group %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/Discord-Symbol-Blurple.png" width="50px" />
	</a>
</div>

<br />

<h2>Apply to Become a Member</h2>
<div class="socialbox">
	<a href="<%= branding_data.bluesharkfriends_apply %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/logo.png" width="50px" />
	</a>
</div>

<br />

<h2>Join a Coalition</h2>
<div class="socialbox">
	<a href="<%= branding_data.everythingisqueer_coalition %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/everywhereisqueer.webp" width="50px" />
	</a>
	<a href="<%= branding_data.shivernet_coalition %>" style="margin-top: 10px; margin-bottom: 10px">
	  <img src="images/shivernet.png" width="50px" />
	</a>
</div>
</div>

<%- include('../partials/footer') %>

</body>
</html>
