<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:index_data.title, description:index_data.description}) %>
</head>
<body>
<%- include('../partials/topbar', {title:index_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:index_data.title}) %>
<div class="script-text">
<p>
  <%- branding_data.tagline %>
</p>
</div>

<br />

<!--<img id="header-img" src="images/<%= branding_data.header_img %>" alt="Blue Shark Friends Logo - two friendly looking cartoon sharks facing inward, flanking an old fashioned ship's wheel" />-->

<br />

<button id="consultation" onclick="location.href='https://app.cal.com/bluesharkfriends/consult';">Schedule a chat</button>

<div class="kickstarter" onclick="location.href='/kickstarter'">
  Check out our LIVE <br /><br />
  <img src="images/tq0sfld-kickstarter-logo-green.avif" alt="Kickstarter" width="300px" />
</div>
<div class="kickstarter-details">
  <h4>Community Bazaar</h4>
  <span>Help us promote our community!</span>
  <div class="flyers">
    <a href="https://home.bluesharkfriends.com/index.php/s/po9qXwgmiiQq6FQ"><img src="images/fundraising_bracelets-buttons-zines.jpeg" width="120px" /></a>
    <a href="https://home.bluesharkfriends.com/index.php/s/Grgbtcek7rPEgmN"><img src="images/fundraising_bracelets-crossstitch-photos.jpeg" width="120px" /></a>
    <a href="https://home.bluesharkfriends.com/index.php/s/jWNqNtM894pmRYP"><img src="images/fundraising_bracelets-crossstitch.jpeg" width="120px" /></a>
  </div>
</div>

<div class="needs" onclick="location.href='/needs'">
  <h3>Community Needs</h3>
</div>

<div class="donate">
  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="28LGN9M5W24DC" />
    <input type="image" src="images/img_paypal-button.png" width="200px" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>
</div>

<div id="freepalestine"><a href="palestine"><img src="images/Free_Palestine.svg" width="500px" height="175px" /></a></div>

</div>

<%- include('../partials/footer') %>

</body>
</html>
