<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:shiver_data.title, description:shiver_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:shiver_data.title}) %>

<div class="content">
    <%- include('../partials/header', {title:shiver_data.title, subheading: 'Our Shiver'}) %>
    <div>
		<div style="float: left">
			See our <a href="https://shiverguide.info/methodology">Community Strategy</a>
		</div>
		<div style="float: right">
			See our <a href="https://shiverguide.info/powerdynamics">Power Dynamics</a>
		</div>
	</div>
	<br />
	<br />
    <div class="crew-banner">
    <ul>
    <% shiver_data.people.forEach(member => { %>
        <li><% if (member.avatar_ref === "") { %><% } else { %><img src="<%= member.avatar_ref %>" width="50px" height="50px" style="<% if (member.name === 'Juniper Lusby') { %>object-position: 0px -15px;<% } %>" /><% } %><span><% if(member.link_ref === "") { %><%= member.name %><% } else { %><a href="<%= member.link_ref %>"><%= member.name %></a><% } %><br /><i><%= member.role %></i></span></li>
    <% }); %>
    </ul>
    </div>
    <div class="partners">
      <h2>Our Partners</h2>
      <% shiver_data.partners.forEach(member => { %>
        <div class="cardlink partner-card">
          <a class="linkspan" href="<%= member.link_ref %>"></a><img src="images/<%= member.logo_ref %>" alt="<%= member.name %>" width="200px" />
        </div>
      <% }); %>
    </div>
    <br />
    <div>
      <h2>Our Community</h2>
		<div style="float: left; width=100px;">
			<h4>Friends</h4>
			<label>Friends are members of one of our curated communities</label>
			<label>If you would like to become a part of one of these communities, you must have a personal relationship with and be approved by a member of our shiver.</label>
			<label>Please fee free to request access to one of the communities below:</label>
			<!--discord and facebook-->
			<label>If you would like to have a link to your personal site listed below, please click <a href="">here</a> to request access</label>
		</div>
		<div style="float: center">
			<h4>Comrades</h4>
			<label>Comrades are any person or organization who feels aligned with the work we are doing.</label>
			<label>If you would like to have a link to your personal site listed below and/or sign up for updates from us, please click <a href="">here</a> to request access</label>
		</div>
		<div style="float: right">
			<h4>Supporters</h4>
			<label>Supporters are any person or organization who has provided members of our community material support.</label>
			<label>Some supporters are nominated by crew members for their charity that has kept our crerw afloat.  But any person or organization can become a supporter by donating to a community member on our <a href="https://bluesharkfriends.com/needs">Needs</a> page and submitting proof of the transaction <a href="https://bluesharkfriends.com/somewhere">here</a>.</label>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>

</body>
</html>
