<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:story_data.title, description:story_data.description}) %>
</head>
<body>
  <%- include('../partials/topbar', {title:story_data.title}) %>

<div class="content story">
  <%- include('../partials/header', {title:story_data.title, subheading: 'Our Story'}) %>
  <div>
    <p>
      We have to start with the <b class="red">trans genocide</b>.
    </p>
  </div>
  <div>
    <p>
      Our community has been watching a ratcheting up of anti-trans legislation for years now. <i><b>We are not fools.</b></i> This was the world in the 1930s.
    </p>
  </div>
  <div>
    <p>
      Furthermore, climate change is here and is destabilizing geopolitics.
    </p>
  </div>
  <div>
    <p>
      But we also know this personally. We are trans refugees because of the deluge of laws against us: Josie fled Atlanta, Georgia; Hannah fled OKC, Oklahoma.
    </p>
  </div>
  <div>
    <p>
      We both lost our jobs: pushed out because we no longer fit the desired look of the dominant culture.
    </p>
  </div>
  <div>
    <p>
      And out of this loss, Blue Shark Friends was born.
    </p>
  </div>
  <div>
    <p>
      In the 1940s, our community would ask if you&#x2019;re a friend of Dorothy.
    </p>
    <p>
      Now, we ask if you&#x2019;re a friend of ours.
    </p>
  </div>
  <div>
    <p>
      We are building our friends an interconnected set of websites based on a common framework: Shiver.
    </p>
  </div>
  <div>
    <p>
      We hope to build atop that a set of interconnected phone applications as well.
    </p>
  </div>
  <div>
    <p>
      Our branding vacillates between shark references and pirate references. You can think of us as pirate sharks.
    </p>
  </div>
  <div class="aside">
    <p>
      At least, in the world of One Piece, that would make perfect sense!
    </p>
  </div>
  <div>
    <p>
      We believe that digital community is real.
    </p>
    <p>
      And must be leveraged to resolutely face the future.
    </p>
  </div>
  <div>
    <p>
      We believe in protecting and caring for our own. We are not a charity. We are a for-profit company whose mission is to transparently support the people we care about the most.
    </p>
  </div>
  <div>
    <p>
      Building a company like this. Building a community like this is slow work. If you are interested in seeing what we create. <a href="mailto:<%= branding_data.email %>">Contact us.</a> We will keep you updated.
    </p>
  </div>
  <div>
    <p>
      Once you are done. Please start thinking about how to build something like this for your community.
    </p>
  </div>
  <div>
    <p>
      Coalition building is how we survive.
    </p>
  </div>
  <div>
    <p>
      Coalition building is how we win.
    </p>
  </div>
  <div>
    <p>
      I hope you join us.
    </p>
  </div>
</div>

  <%- include('../partials/footer') %>
  
</body>
</html>